/*#475059*/

body{
    background-color:#475059;
}

.container-fluid{
    background-color:#373d42;
    top: 0px;
    width: 100%;
    height: 58px;
}

.img-circle {
    border-radius: 90%;
    width: 300px;
    height: 300px;
    padding: 30px;
    display: block;
    margin-left: auto;
    top: 20px;
    position: relative;
    margin-right: auto;
}

.cercle2{
    background-color: #373d42;
    border-radius: 90%;
    width: 300px;
    height: 300px;
    padding: 30px;
    position: absolute;
    bottom: 275px;
}

.cadre1{
    height: 180px;
    background-color: white;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.cadre2{
    height: 180px;
    background-color: white;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    top: 5px;
    position: relative;
}

.cadre3{
    height: 180px;
    background-color: white;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.cadre4{
    height: 180px;
    background-color: white;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    top: 5px;
    position: relative;
}

.text{
    text-align: center;
    top:85px;
    position:relative;
}

.fa-user-circle, .fa-camera-retro, .fa-diamond, .fa-user-plus{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color:#373d42;
}

.network{
    color: #ffffff;
    text-align: center;
    font-size: 45px;
}

.imagemedia{
    width: 200px;
    padding-right: 85px;
    position: relative;
    left: 120px;
}

.datedupload {
    position: relative;
    right: 215px;

}

.heur{
    position: relative;
    right: 215px;
    color: #ffffff;
    top: 40px;
}

.image{
    position: relative;
    left: 165px;
}

.bare-laterale{
    background-color: #373d42;
    top: 0px;
    width: 108%;
    height: 58px;
}

.globale-bouton{
    right: 200px;
    position: relative;
    top:130px;
}

.galerie{
    text-align: center;
}

.cadre-concour{
    height: 280px;
    background-color: red;
    width: 399px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius-top: 30px;
    border-top: 2px solid orangered;
    margin-top: 45px;
}

.text-cadre {
        text-align: center;
        position: relative;
        top: 40px;
        font-size: 1.5em;

}

.image-concour{
    width: 500px;
    position: relative;
}

.cadre2{
    height: 100px;
    background-color: pink;
    width: 295px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 78px;
    background-color:#ffffff;

}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

.image-concour-travel{
    width: 600px;
    position: relative;
}

.image-concour-concer{
    width: 550px;
    position: relative;
}