{% extends 'base.html.twig' %}

{% block header %}
    <div class="container-fluid">
    </div>
{% endblock %}

{% block content %}

    <div class="circle">
        <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="..." class="img-circle">
    </div>

{% endblock %}