{% extends 'base.html.twig' %}

{% block header %}

        <div class="circle">
            <img src="{{ asset('uploads/images/medias/logo.png') }}"  alt="..." class="img-circle">
        </div>


{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="globalecadre">
                    <a href="{{ path('show') }}"><div class="cadre1 cadre1effet">
                       <h3 class="text"><i class="fa fa-user-circle"
                                                                         aria-hidden="true"></i>Profile</h3>
                    </div></a>
                    <div class="cadre2">
                        <h3 class="text"><i class="fa fa-camera-retro" aria-hidden="true"></i>Prise de photo</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="globalecadre2">
                    <div class="cadre3">
                        <h3 class="text"><i class="fa fa-user-plus" aria-hidden="true"></i>Classement</h3>
                    </div>
                    <div class="cadre4">
                        <h3 class="text"><i class="fa fa-diamond" aria-hidden="true"></i>Concours</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

